<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Whatsapp Mini</title>
  <link rel="shortcut icon" href="https://imgs.search.brave.com/dLvS60QyTow-fN6psEDnMpqzpUJPIASLj5TVUC2GIms/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbmdp/bWcuY29tL3VwbG9h/ZHMvd2hhdHNhcHAv/c21hbGwvd2hhdHNh/cHBfUE5HOTUxODEu/cG5n" type="image/x-icon">
<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
   
</body>
</html>