<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Whatsapp Mini</title>
    <link rel="shortcut icon" href="https://imgs.search.brave.com/dLvS60QyTow-fN6psEDnMpqzpUJPIASLj5TVUC2GIms/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbmdp/bWcuY29tL3VwbG9h/ZHMvd2hhdHNhcHAv/c21hbGwvd2hhdHNh/cHBfUE5HOTUxODEu/cG5n" type="image/x-icon">
</head>
<body>
    <div id="main">
        <div id="overlay">
          <div id="box">
            <h2>WHATSAPP</h2>
      <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
       <input type="submit">
        <h3>OR</h3>
        <h3>Dont have a account?</h3><a href="/views/index.ejs">Sign up</a>
      </form>
    
          </div>
          </div>
        <div id="top"></div>
        <div id="bottom"></div>
       </div>
</body>
</html>