<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Whatsapp Mini</title>
  <link rel="shortcut icon" href="https://imgs.search.brave.com/dLvS60QyTow-fN6psEDnMpqzpUJPIASLj5TVUC2GIms/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbmdp/bWcuY29tL3VwbG9h/ZHMvd2hhdHNhcHAv/c21hbGwvd2hhdHNh/cHBfUE5HOTUxODEu/cG5n" type="image/x-icon">
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="main">
    <div id="overlay">
      <div id="box">
        <h2>WHATSAPP</h2>
        <form action="/register" method="post">
          <input type="text" name="username" placeholder="Enter username">
          <input type="text" name="phoneNumber" placeholder="phoneNumber" >
          <input type="text" name="email" placeholder="Enter email">
          <input type="password" name="password" placeholder="Enter password">
          <input type="submit">
        </form>
      </div>
      </div>
    <div id="top"></div>
    <div id="bottom"></div>
   </div>
</body>
</body>
</html>